@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #007BFF;
    color: white;
    text-align: center;
    width: 100%;
height: 365px;
gap: 0px;
border-radius: 10px ;
opacity: 0px;

  }
  
  .success-icon {
    margin-bottom: 0;
}
  
  .success-container  span {
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.04em;
    text-align: left;
    margin-bottom: 0;
    }

  .success-container p {
    font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: -0.02em;
text-align: center;
color: rgba(197, 215, 232, 1);
width: 30%;
margin-top: 0;
  }