/* Sidebar.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #007bff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  font-family: Inter;
  position: fixed; /* Make the sidebar fixed */
  top: 0; /* Align it to the top of the page */
  left: 0;
}
.sidebar-elements {
  width: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
font-size: 14px;
font-weight: 700;
line-height: 16.94px;
text-align: left;


}
.sidebar-elements .logo {
  margin: 13%;
  padding-bottom: 30px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
font-weight: 600;
line-height: 28.8px;
letter-spacing: -0.04em;
text-align: left;


}
.sidebar-button {
  /* width: 250%; */
  margin-top: 100%;
  align-items: center;
  padding: 15px;
  width: 100%;
  

}

.sidebar-item {
  width: 70%;
  padding: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.sidebar-item span {
  margin-left: 10px;
  font-size: 16px;
}

.sidebar-item:hover {
  background-color: #0056b3;
}

 .sidebar-item.active {
  background-color: #0056b3;
}

.logo {
  display: flex;
  flex-direction: row;
  /* padding: 0%;
  margin: 0%;
   */
}
 .logo h2 {
  padding: 0%;
  margin: 0%;
  
 }
