@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #fff;
  }
  
  .hero-text {
    width: 50%;
  }
  
  .hero-text h1 {
    margin-bottom: 20px;
    color: #000;
font-family: Inter;
font-size: 72px;
font-weight: 500;
line-height: 86px;
letter-spacing: -0.04em;
text-align: left;

}
  
  .highlight {
    color: #007BFF;
  }
  
  .hero-text p {
    margin-bottom: 20px;
    color:rgba(68, 81, 100, 1);
    font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 28.8px;
letter-spacing: -0.04em;
text-align: left;
width: 80%;


  }
  
  .start-button {
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-family: Inter;

  }
  
  .start-button:hover {
    background-color: #0056b3;
  }
  
  .hero-images {
    display: flex;
    gap: 20px;
    /* width: 50%; */

  }
  
  .hero-image {
    height: auto;
    /* object-fit: cover; */
  }
  .hero-image2 {
    height:fit-content;
  }
  