.footer {
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 4%;
    margin-top: 2%;
}

.footer-left, .footer-center, .footer-right {
    display: flex;
    align-items: center;
}
.footer-left a {
    font-family: Inter;
font-size: 30px;
font-weight: 500;
line-height: 28.8px;
letter-spacing: -0.04em;
text-align: left;

}
.footer-left img {
  
}


.footer-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    
}

.footer-logo img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    
}


.footer-icon {
    margin: 0 5px;
    color: #007bff;
    font-size: 20px;
    text-decoration: none;
}

.footer-icon:hover {
    color: #0056b3;
}

.footer-bottom {
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    color: 
    rgba(151, 149, 181, 1);

}
.borderb {
    width: 75%;


    height: 2px;
    background-color: rgba(212, 210, 227, 1);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.footer-center {
    display: flex;
    gap: 20px;
    
  }
  
  .footer-link {
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;

  }
  
  .footer-link:hover {
    color: #007BFF;
  }